body{
    background-color: rgb(245, 222, 222);
    border-radius: 10%
}

h1{
    color: black;
    align-content: center;
    border-radius: 25px;
    border: 150px groove red;
    border-width: 3ch; 
}

p{
    font-family: monospace;
    font-size: 150%;
    border-radius: 15px;
    border: 10px groove red;
}